body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgb(0, 0%, 95%);

}






#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: black;
    color: white;
}


#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(98, 98, 149);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}


button:hover {
    background-color: rgb(95, 95, 126);

}

button:active{
    background-color: rgb(192, 192, 227);

}
.operator-btn{
    background-color: orange;
}
.operator-btn:hover{
    background-color: rgb(196, 163, 102);
}
.operator-btn:active{
    background-color: rgb(236, 227, 210);
}